<a href="https://colab.research.google.com/github/bbchen33/Data-Science/blob/master/Restaurant_data_PySpark_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Restaurant data from Kaggle
https://www.kaggle.com/shrutimehta/zomato-restaurants-data/download

In [3]:
!sudo apt install openjdk-8-jdk

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin
  libgtk2.0-common libxxf86dga1 openjdk-8-jre x11-utils
Suggested packages:
  gvfs openjdk-8-demo openjdk-8-source visualvm icedtea-8-plugin mesa-utils
The following NEW packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin
  libgtk2.0-common libxxf86dga1 openjdk-8-jdk openjdk-8-jre x11-utils
0 upgraded, 13 newly installed, 0 to remove and 28 not upgraded.
Need to get 7,119 kB of archives.
After this operation, 20.1 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 libxxf86dga1 amd64 2:1.1.4-1 [13.7 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-dejavu-core all 2.37-1 [1,041 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-dejavu-extra all 2.37-1 [1,953 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 x11-utils amd64 7.7+3build1 [196 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libatk-wrapper-java all 0.33.3-20ubuntu0.1 [34.7 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libatk-wrapper-java-jni amd64 0.33.3-20ubuntu0.1 [28.3 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-common all 2.24.32-1ubuntu1 [125 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-0 amd64 2.24.32-1ubuntu1 [1,769 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgail18 amd64 2.24.32-1ubuntu1 [14.2 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgail-common amd64 2.24.32-1ubuntu1 [112 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-bin amd64 2.24.32-1ubuntu1 [7,536 B]
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jre amd64 8u222-b10-1ubuntu1~18.04.1 [69.3 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jdk amd64 8u222-b10-1ubuntu1~18.04.1 [1,756 kB]
Fetched 7,119 kB in 6s (1,181 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 13.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package libxxf86dga1:amd64.
(Reading database ... 132681 files and directories currently installed.)
Preparing to unpack .../00-libxxf86dga1_2%3a1.1.4-1_amd64.deb ...
Unpacking libxxf86dga1:amd64 (2:1.1.4-1) ...
Selecting previously unselected package fonts-dejavu-core.
Preparing to unpack .../01-fonts-dejavu-core_2.37-1_all.deb ...
Unpacking fonts-dejavu-core (2.37-1) ...
Selecting previously unselected package fonts-dejavu-extra.
Preparing to unpack .../02-fonts-dejavu-extra_2.37-1_all.deb ...
Unpacking fonts-dejavu-extra (2.37-1) ...
Selecting previously unselected package x11-utils.
Preparing to unpack .../03-x11-utils_7.7+3build1_amd64.deb ...
Unpacking x11-utils (7.7+3build1) ...
Selecting previously unselected package libatk-wrapper-java.
Preparing to unpack .../04-libatk-wrapper-java_0.33.3-20ubuntu0.1_all.deb ...
Unpacking libatk-wrapper-java (0.33.3-20ubuntu0.1) ...
Selecting previously unselected package libatk-wrapper-java-jni:amd64.
Preparing to unpack .../05-libatk-wrapper-java-jni_0.33.3-20ubuntu0.1_amd64.deb ...
Unpacking libatk-wrapper-java-jni:amd64 (0.33.3-20ubuntu0.1) ...
Selecting previously unselected package libgtk2.0-common.
Preparing to unpack .../06-libgtk2.0-common_2.24.32-1ubuntu1_all.deb ...
Unpacking libgtk2.0-common (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgtk2.0-0:amd64.
Preparing to unpack .../07-libgtk2.0-0_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgtk2.0-0:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgail18:amd64.
Preparing to unpack .../08-libgail18_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgail18:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgail-common:amd64.
Preparing to unpack .../09-libgail-common_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgail-common:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgtk2.0-bin.
Preparing to unpack .../10-libgtk2.0-bin_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgtk2.0-bin (2.24.32-1ubuntu1) ...
Selecting previously unselected package openjdk-8-jre:amd64.
Preparing to unpack .../11-openjdk-8-jre_8u222-b10-1ubuntu1~18.04.1_amd64.deb ...
Unpacking openjdk-8-jre:amd64 (8u222-b10-1ubuntu1~18.04.1) ...
Selecting previously unselected package openjdk-8-jdk:amd64.
Preparing to unpack .../12-openjdk-8-jdk_8u222-b10-1ubuntu1~18.04.1_amd64.deb ...
Unpacking openjdk-8-jdk:amd64 (8u222-b10-1ubuntu1~18.04.1) ...
Setting up libgtk2.0-common (2.24.32-1ubuntu1) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Setting up fonts-dejavu-core (2.37-1) ...
Setting up libxxf86dga1:amd64 (2:1.1.4-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Setting up fonts-dejavu-extra (2.37-1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Setting up libgtk2.0-0:amd64 (2.24.32-1ubuntu1) ...
Setting up libgail18:amd64 (2.24.32-1ubuntu1) ...
Setting up x11-utils (7.7+3build1) ...
Setting up libgail-common:amd64 (2.24.32-1ubuntu1) ...
Setting up libatk-wrapper-java (0.33.3-20ubuntu0.1) ...
Setting up libgtk2.0-bin (2.24.32-1ubuntu1) ...
Setting up libatk-wrapper-java-jni:amd64 (0.33.3-20ubuntu0.1) ...
Setting up openjdk-8-jre:amd64 (8u222-b10-1ubuntu1~18.04.1) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/policytool to provide /usr/bin/policytool (policytool) in auto mode
Setting up openjdk-8-jdk:amd64 (8u222-b10-1ubuntu1~18.04.1) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/appletviewer to provide /usr/bin/appletviewer (appletviewer) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jconsole to provide /usr/bin/jconsole (jconsole) in auto mode
Processing triggers for libc-bin (2.27-3ubuntu1) ...

In [4]:
!sudo update-alternatives --config java

There are 2 choices for the alternative java (providing /usr/bin/java).

  Selection    Path                                            Priority   Status
------------------------------------------------------------
* 0            /usr/lib/jvm/java-11-openjdk-amd64/bin/java      1111      auto mode
  1            /usr/lib/jvm/java-11-openjdk-amd64/bin/java      1111      manual mode
  2            /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java   1081      manual mode

Press <enter> to keep the current choice[*], or type selection number: 2
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java to provide /usr/bin/java (java) in manual mode

In [5]:
!java -version

openjdk version "1.8.0_222"
OpenJDK Runtime Environment (build 1.8.0_222-8u222-b10-1ubuntu1~18.04.1-b10)
OpenJDK 64-Bit Server VM (build 25.222-b10, mixed mode)

In [6]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/87/21/f05c186f4ddb01d15d0ddc36ef4b7e3cedbeb6412274a41f26b55a650ee5/pyspark-2.4.4.tar.gz (215.7MB)
     |████████████████████████████████| 215.7MB 68kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 41.0MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.4-py2.py3-none-any.whl size=216130387 sha256=7bcb77dc12a76afecee717b431200c43ab0e053395c983f64b8872d03f4106a6
  Stored in directory: /root/.cache/pip/wheels/ab/09/4d/0d184230058e654eb1b04467dbc1292f00eaa186544604b471
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.4

In [0]:
from google.colab import files

In [8]:
file = files.upload()

Saving zomato-restaurants-data.zip to zomato-restaurants-data.zip

In [9]:
!unzip zomato-restaurants-data.zip

Archive:  zomato-restaurants-data.zip
  inflating: Country-Code.xlsx
  inflating: file1.json
  inflating: file2.json
  inflating: file3.json
  inflating: file4.json
  inflating: file5.json
  inflating: zomato.csv

In [10]:
!head zomato.csv

Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Makati City",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Makati City",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Mandaluyong City",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandaluyong City",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandaluyong City",121.057508,14.58445,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
18189371,Din Tai Fung,162,Mandaluyong City,"Ground Floor, Mega Fashion Hall, SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandaluyong City",121.056314,14.583764,Chinese,1000,Botswana Pula(P),No,No,No,No,3,4.4,Green,Very Good,336
6300781,Buffet 101,162,Pasay City,"Building K, SM By The Bay, Sunset Boulevard, Mall of Asia Complex (MOA), Pasay City","SM by the Bay, Mall of Asia Complex, Pasay City","SM by the Bay, Mall of Asia Complex, Pasay City, Pasay City",120.9796667,14.53133333,"Asian, European",2000,Botswana Pula(P),Yes,No,No,No,4,4,Green,Very Good,520
6301290,Vikings,162,Pasay City,"Building B, By The Bay, Seaside Boulevard, Mall of Asia Complex (MOA), Pasay City","SM by the Bay, Mall of Asia Complex, Pasay City","SM by the Bay, Mall of Asia Complex, Pasay City, Pasay City",120.9793333,14.54,"Seafood, Filipino, Asian, European",2000,Botswana Pula(P),Yes,No,No,No,4,4.2,Green,Very Good,677
6300010,Spiral - Sofitel Philippine Plaza Manila,162,Pasay City,"Plaza Level, Sofitel Philippine Plaza Manila, CCP Complex, Pasay City","Sofitel Philippine Plaza Manila, Pasay City","Sofitel Philippine Plaza Manila, Pasay City, Pasay City",120.98009,14.55299,"European, Asian, Indian",6000,Botswana Pula(P),Yes,No,No,No,4,4.9,Dark Green,Excellent,621

In [0]:
from pyspark.sql import SparkSession

spark = SparkSession \
  .builder \
  .appName('Restaurant') \
  .getOrCreate()

In [0]:
path = 'zomato.csv'
zomato_df = spark.read.csv(path, header = True)

In [13]:
zomato_df.describe().show()

+-------+--------------------+-----------------+------------------+------------------+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+----------------+------------------+-------------------+-----------------+--------------------+------------------+------------------+-----------------+-----------------+------------------+
|summary|       Restaurant ID|  Restaurant Name|      Country Code|              City|             Address|            Locality|    Locality Verbose|        Longitude|            Latitude|            Cuisines|Average Cost for two|        Currency| Has Table booking|Has Online delivery|Is delivering now|Switch to order menu|       Price range|  Aggregate rating|     Rating color|      Rating text|             Votes|
+-------+--------------------+-----------------+------------------+------------------+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+----------------+------------------+-------------------+-----------------+--------------------+------------------+------------------+-----------------+-----------------+------------------+
|  count|                9557|             9557|              9557|              9557|                9557|                9551|                9551|             9551|                9551|                9542|                9551|            9551|              9551|               9551|             9551|                9551|              9551|              9549|             9549|             9547|              9545|
|   mean|   9051128.349178096|          12212.0|18.365616165846507|         90.607226|  14.923160398999999|   66.26348823500001|  100.53741610333334| 64.1103846947421|   25.93950432841693|               550.0|   1199.718910424306|            null|               2.5|                1.6|              2.0|                2.85|1.8073096659336056| 2.666621267679415|             78.0|              3.5|156.98816134101625|
| stddev|    8791521.28210426|              NaN| 56.75054560094658|18.712787590293484|   19.28008168458414|  15.286569967355936|  101.74182830528592|41.47598267276749|  13.564415107541473|   70.71067811865476|  16126.235548234079|            null|2.1213203435596424| 2.2627416997969525|              0.0|  0.9848857801796105|0.9506821677798912|1.5162747153999003|93.33809511662427|4.949747468305833| 430.2910645319932|
|    min|             Station|     Let's Burrrp|          Gurgaon"|        New Delhi"|1 & 2, Block A-5 ...| ILD Trade Centre...| ILD Trade Centre...|     -0.076580556|          -15.720118|                 500|                   0|Botswana Pula(P)|                 1|                  0|                2|                   2|                 0|                 0|               12|                0|                 0|
|    max|Univercity City Road|�ukura��a Sofras۱|  Sector 49, Noida|         ��stanbul|��mitk�_y Mahalle...|           ��mitk�_y|   ��mitk�_y, Ankara|   Italian, Pizza|North Indian, Chi...|World Cuisine, Pa...|                  No|             Yes|               Yes|                Yes|              Yes|           Not rated|            Yellow|             White|           Yellow|        Very Good|               997|
+-------+--------------------+-----------------+------------------+------------------+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+----------------+------------------+-------------------+-----------------+--------------------+------------------+------------------+-----------------+-----------------+------------------+

I'll write a simple for loop to replace all the white space in the column names to underscore so it's easier to manipulate by SQL.

In [14]:
for name in zomato_df.columns:
  zomato_df = zomato_df.withColumnRenamed(name, name.replace(' ', '_'))

print(zomato_df.columns)

['Restaurant_ID', 'Restaurant_Name', 'Country_Code', 'City', 'Address', 'Locality', 'Locality_Verbose', 'Longitude', 'Latitude', 'Cuisines', 'Average_Cost_for_two', 'Currency', 'Has_Table_booking', 'Has_Online_delivery', 'Is_delivering_now', 'Switch_to_order_menu', 'Price_range', 'Aggregate_rating', 'Rating_color', 'Rating_text', 'Votes']

In [15]:
zomato_df.take(1)

[Row(Restaurant_ID='6317637', Restaurant_Name='Le Petit Souffle', Country_Code='162', City='Makati City', Address='Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City', Locality='Century City Mall, Poblacion, Makati City', Locality_Verbose='Century City Mall, Poblacion, Makati City, Makati City', Longitude='121.027535', Latitude='14.565443', Cuisines='French, Japanese, Desserts', Average_Cost_for_two='1100', Currency='Botswana Pula(P)', Has_Table_booking='Yes', Has_Online_delivery='No', Is_delivering_now='No', Switch_to_order_menu='No', Price_range='3', Aggregate_rating='4.8', Rating_color='Dark Green', Rating_text='Excellent', Votes='314')]

In [16]:
zomato_df.printSchema()

root
 |-- Restaurant_ID: string (nullable = true)
 |-- Restaurant_Name: string (nullable = true)
 |-- Country_Code: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Locality: string (nullable = true)
 |-- Locality_Verbose: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Cuisines: string (nullable = true)
 |-- Average_Cost_for_two: string (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Has_Table_booking: string (nullable = true)
 |-- Has_Online_delivery: string (nullable = true)
 |-- Is_delivering_now: string (nullable = true)
 |-- Switch_to_order_menu: string (nullable = true)
 |-- Price_range: string (nullable = true)
 |-- Aggregate_rating: string (nullable = true)
 |-- Rating_color: string (nullable = true)
 |-- Rating_text: string (nullable = true)
 |-- Votes: string (nullable = true)

In [0]:
zomato_df.createOrReplaceTempView('zomato_df_table')

In [18]:
spark.sql('''
  SELECT * FROM zomato_df_table LIMIT 2
''').show()

+-------------+----------------+------------+-----------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|Restaurant_ID| Restaurant_Name|Country_Code|       City|             Address|            Locality|    Locality_Verbose| Longitude| Latitude|            Cuisines|Average_Cost_for_two|        Currency|Has_Table_booking|Has_Online_delivery|Is_delivering_now|Switch_to_order_menu|Price_range|Aggregate_rating|Rating_color|Rating_text|Votes|
+-------------+----------------+------------+-----------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+
|      6317637|Le Petit Souffle|         162|Makati City|Third Floor, Cent...|Century City Mall...|Century City Mall...|121.027535|14.565443|French, Japanese,...|                1100|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.8|  Dark Green|  Excellent|  314|
|      6304287|Izakaya Kikufuji|         162|Makati City|Little Tokyo, 227...|Little Tokyo, Leg...|Little Tokyo, Leg...|121.014101|14.553708|            Japanese|                1200|Botswana Pula(P)|              Yes|                 No|               No|                  No|          3|             4.5|  Dark Green|  Excellent|  591|
+-------------+----------------+------------+-----------+--------------------+--------------------+--------------------+----------+---------+--------------------+--------------------+----------------+-----------------+-------------------+-----------------+--------------------+-----------+----------------+------------+-----------+-----+

In [19]:
spark.sql('''
  SELECT distinct Rating_text FROM zomato_df_table
''').show()

+-----------+
|Rating_text|
+-----------+
|          7|
|  Excellent|
|          0|
|       null|
|    Average|
|       Good|
|  Very Good|
|  Not rated|
|       Poor|
+-----------+

In [21]:
spark.sql('''
  SELECT count(distinct Restaurant_Name)
  FROM zomato_df_table
''').show()

+-------------------------------+
|count(DISTINCT Restaurant_Name)|
+-------------------------------+
|                           7452|
+-------------------------------+

Which city has the most restaurants rated in this table?

In [29]:
spark.sql('''
  SELECT City, Count(distinct Restaurant_ID) as restaurant_count
  FROM zomato_df_table
  Group by City
  Order by restaurant_count desc
''').show()

+------------+----------------+
|        City|restaurant_count|
+------------+----------------+
|   New Delhi|            5473|
|     Gurgaon|            1118|
|       Noida|            1080|
|   Faridabad|             251|
|   Ghaziabad|              25|
|   Ahmedabad|              21|
|    Amritsar|              21|
|Bhubaneshwar|              21|
|     Lucknow|              21|
|    Guwahati|              21|
|   Bangalore|              20|
|    Auckland|              20|
|   Tampa Bay|              20|
|       Patna|              20|
|    Savannah|              20|
|       Kochi|              20|
|     Chennai|              20|
|   Edinburgh|              20|
|    Valdosta|              20|
|   Singapore|              20|
+------------+----------------+
only showing top 20 rows

What are the average ratings of restaurant in each city?

In [31]:
spark.sql('''
  SELECT City, AVG(Aggregate_rating) as average_rating
  FROM zomato_df_table
  Group by City
  Order by average_rating desc
''').show()

+----------------+------------------+
|            City|    average_rating|
+----------------+------------------+
|      Inner City|               4.9|
|     Quezon City|               4.8|
|     Makati City|              4.65|
|      Pasig City| 4.633333333333333|
|Mandaluyong City|             4.625|
|      Beechworth|               4.6|
|          London| 4.534999999999999|
|     Taguig City|             4.525|
|    Secunderabad|               4.5|
|   Tagaytay City|               4.5|
|         Lincoln|               4.5|
|         Orlando|4.4750000000000005|
|  Rest of Hawaii|              4.41|
|       Tampa Bay|              4.41|
|       Palm Cove|               4.4|
|         Tanunda|               4.4|
|       Bangalore| 4.375000000000001|
|           Dubai| 4.369999999999999|
|      Pasay City| 4.366666666666666|
|         Jakarta|           4.35625|
+----------------+------------------+
only showing top 20 rows

In [0]:
country_city_rating = spark.sql('''
  SELECT Country_Code, City, AVG(Aggregate_rating) OVER (Partition by City) as average_rating
  FROM zomato_df_table
  Order by average_rating desc
''')

In [0]:
country_city_rating.createOrReplaceTempView('country_city_rating_table')

In [68]:
spark.sql('''SELECT * FROM country_city_rating_table LIMIT 2''').show()

+------------+----------+--------------+
|Country_Code|      City|average_rating|
+------------+----------+--------------+
|         189|Inner City|           4.9|
|         189|Inner City|           4.9|
+------------+----------+--------------+

Which countries have the most cities with rating >= 4.5

In [71]:
spark.sql('''
  SELECT Country_code, count(distinct City) as city_count
  FROM country_city_rating_table
  Where average_rating >= 4.5
  Group by Country_Code
  Order by city_count desc
''').show()

+------------+----------+
|Country_code|city_count|
+------------+----------+
|         162|         6|
|           1|         1|
|          14|         1|
|         189|         1|
|         215|         1|
|         216|         1|
+------------+----------+

The restaurants with lowest cost but highest ratings in Singapore.

In [52]:
spark.sql('''
  SELECT City, Average_Cost_for_two, Aggregate_rating
  FROM zomato_df_table
  WHERE Average_Cost_for_two is not null 
  AND City = 'Singapore'
  Order by Average_Cost_for_two asc, Aggregate_rating desc
''').show()

+---------+--------------------+----------------+
|     City|Average_Cost_for_two|Aggregate_rating|
+---------+--------------------+----------------+
|Singapore|                 100|             4.1|
|Singapore|                  20|             4.2|
|Singapore|                 220|             3.8|
|Singapore|                 270|               4|
|Singapore|                  30|               3|
|Singapore|                 300|             3.9|
|Singapore|                 300|             3.4|
|Singapore|                 315|             3.9|
|Singapore|                  40|             3.9|
|Singapore|                  40|             3.7|
|Singapore|                 430|             3.8|
|Singapore|                  50|             3.8|
|Singapore|                  50|             3.2|
|Singapore|                 500|             3.8|
|Singapore|                  60|             3.2|
|Singapore|                  60|             3.1|
|Singapore|                  75|             3.2|
|Singapore|                  80|             3.2|
|Singapore|                  80|             3.1|
+---------+--------------------+----------------+