<a href="https://colab.research.google.com/github/bbchen33/Data-Science/blob/master/Vectorization_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files

Resume data from Kaggle
https://www.kaggle.com/dhainjeamita/resumedataset

In [4]:
uploaded = files.upload()

Saving resumedataset.zip to resumedataset.zip

In [5]:
!unzip resumedataset.zip

Archive:  resumedataset.zip
  inflating: resume_dataset.csv

In [0]:
import pandas as pd
resume_df = pd.read_csv('resume_dataset.csv')

In [7]:
resume_df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

Pandas' existing vectorization for string operations. See more details in: https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html

In [54]:
%%timeit
resume_df['processed_resume'] = resume_df['Resume'].replace({'Skills':'lol', 'Education': 'too kool for skool'}, regex = True)

The slowest run took 6.04 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 3: 1.89 ms per loop

Use pandas' replace method to replace specific text with new text. It has case-insensitive method as well.

In [55]:
resume_df.head()

       Category  ...                                   processed_resume
0  Data Science  ...  lol * Programming Languages: Python (pandas, n...
1  Data Science  ...  too kool for skool Details \r\nMay 2013 to May...
2  Data Science  ...  Areas of Interest Deep Learning, Control Syste...
3  Data Science  ...  lol â¢ R â¢ Python â¢ SAP HANA â¢ Tableau ...
4  Data Science  ...  too kool for skool Details \r\n MCA   YMCAUST,...

[5 rows x 3 columns]

In [0]:
import re

In [0]:
def process_resume(text):
	text = re.sub('Skills', 'lol', text)
	text = re.sub('Education', 'too kool for skool', text)
	return text

Use lambda to apply the process_resume function on the resume text.

In [57]:
%%timeit
resume_df['processed_resume'] = resume_df.Resume.apply(lambda x: process_resume(x))

1000 loops, best of 3: 1.42 ms per loop

To my surprise, in this case, lambda worked faster than pandas' vectorized method.

In [58]:
resume_df.head()

       Category  ...                                   processed_resume
0  Data Science  ...  lol * Programming Languages: Python (pandas, n...
1  Data Science  ...  too kool for skool Details \r\nMay 2013 to May...
2  Data Science  ...  Areas of Interest Deep Learning, Control Syste...
3  Data Science  ...  lol â¢ R â¢ Python â¢ SAP HANA â¢ Tableau ...
4  Data Science  ...  too kool for skool Details \r\n MCA   YMCAUST,...

[5 rows x 3 columns]